<nav class="navbar">
  <ul class="navbar-nav">
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
      <a routerLink="/">Inicio</a>
    </li>
    <li routerLinkActive="active">
      <a class="nav-link" routerLink="/proveedores">Proveedores </a>
    </li>
    <li routerLinkActive="active">
      <a class="nav-link" routerLink="/directivas1">directivas1 </a>
    </li>
    <li routerLinkActive="active">
      <a class="nav-link" routerLink="/directivas2">directivas2 </a>
    </li>
    <li routerLinkActive="active">
      <a class="nav-link" routerLink="/directivas3">directivas3 </a>
    </li>
    <li routerLinkActive="active">
      <a class="nav-link" routerLink="/directivas4">directivas4 </a>
    </li>
    <li routerLinkActive="active">
      <a class="nav-link" routerLink="/modelos">modelos </a>
    </li>
    <li routerLinkActive="active">
      <a class="nav-link" routerLink="/binding1">binding1 </a>
    </li>
    <li routerLinkActive="active">
      <a class="nav-link" routerLink="/binding2">binding2 </a>
    </li>
    <li routerLinkActive="active">
      <a class="nav-link" routerLink="/binding3">binding3 </a>
    </li>
  </ul>
</nav>