<!--The content below is only a placeholder and can be replaced.-->

<app-header></app-header>

<div class="container">
  <router-outlet></router-outlet>
</div>

<!--

<app-proveedores></app-proveedores>

<hr>

<app-ejdirectivangswitch></app-ejdirectivangswitch>

<hr>

<app-arrayobjetos></app-arrayobjetos>

<hr>

<app-ejdirectivangfor></app-ejdirectivangfor>

<hr>

<app-ejdirectivangif></app-ejdirectivangif>

<hr>

<app-viewmodelo></app-viewmodelo>

<hr>

<app-ejpropertybinding></app-ejpropertybinding>

<hr>

<app-ejeventbinding></app-ejeventbinding>

<hr>

<app-ej2awaybinding></app-ej2awaybinding>

-->